.heading h1{
    font-size: 34px;
    margin-top: -32px;
    font-weight: bold;
}
.adept, .subtitle{
    width: 100vw;
    background-color: rgb(247, 227, 191);
    height: 7vh;
    border-radius: 4%;
    box-shadow: 12px 12px 21px 5px rgb(216, 224, 179);
}
.main{
    display: flex;
    align-content: center;

}
.heading h3{
    font-size: 18px;
    margin-top: -12px;
    font-weight: bold;
}
.h1{
    color: rgb(34, 32, 32);
    font-family:'Times New Roman', Times, serif;
}
.wrapper{
    margin-left: 50%;
    margin-top: 62px;
    width: 100%;    

}
.wrapper input{
    border: none;
    border-radius: 20px;
}
.input1{
    display: flex;
    flex-direction: row;
}
.user-icon{
    margin-top: 5px;
    margin-right: 10px;
    height: 22px;
    width: 25px;
}
