.main{
    user-select: none;

}
.employee-details {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 20px auto;

  }



  .details-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .detail-box {
    width: 45%;
    padding: 10px;
    background-color: #aa7474;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  .detail-box label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #855454;
  }
  
  .detail-box .value {
    font-family:'Times New Roman', Times, serif ;
    font-size: 20px;
    color: #000;
  }
  .detail-box:hover{
    width: 45.9%;
    height: 45.9%;

    transition: width 0.5s;

      /* background-color: rgb(231, 150, 57); */
  }
  .main {
    display: flex;
  flex-direction: column;

  min-height: 100vh; /* Changed from height to min-height */
  justify-content: flex-start; /* No vertical center */
  align-items: center;
  padding: 20px;
  /* overflow-y: auto; Allow scrolling */
  }
  

  form input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  form h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  form button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  